body {
  font-family: 'Lato', sans-serif !important;
  position: relative;
}
.font-Lora {
  font-family: 'Lora', serif !important;
}
.text-dark-grey {
  color: #424242;
}
.text-light-grey {
  color: #757575;
}
.text-black {
  color: #000000
}
.bg-white {
  background-color: #ffffff;
}
.bg-turquoise {
  background-color: #44A389 !important;
}
a:hover {
  color: #44A389 !important;
}
.nav-menu-link {
  color: #424242;
}
.nav-menu-link:hover {
  color: #44A389 !important;
  background-color: none !important;
}
.nav-menu-link.active {
  color: #44A389;
}
.nav-menu-link:active {
  color: #44A389;
}
.side-navbar {
  min-width: 150px !important;
  max-width: 150px !important;
  background: #F8F8F8;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
.hidden-navbar {
  background: #F8F8F8 !;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}
h1 {
  font-size: 60px !important;
}
h2 {
  font-size: 36px !important;
}
h3 {
  font-size: 24px !important;
}
h4 {
  font-size: 21px !important;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-12 {
  font-size: 12px !important;
}
.font-size-8 {
  font-size: 8px !important;
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 44px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 21px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  p {
    font-size: 14px !important
  }
}
.btn-turquoise {
  color: #44A389 !important;
  background-color: transparent;
  background-image: none;
  border-color: #44A389;
  border: 1px solid #44A389 !important;
  border-radius: 5px;
}
.btn-turquoise:hover {
  color: #fff !important;
  background-color: #44A389;
  border-color: #44A389;
}
.turquoise {
  color: #44A389;
}
.pointer {
  cursor: pointer;
}
#section1 {
  min-height: 100vh;
}
#section2 {
  min-height: 100vh;
}
#section3 {
  min-height: 100vh;
}
#section4 {
  min-height: 100vh;
}
ul.flex-column {
  height: 100vh;
  position: fixed;
}
.social-icons {
  position: fixed;
  top: 84vh;
}

@media only screen and (max-width: 575px) {
  #slide-navbar-collapse {
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 9999;
    width: 150px;
    height: 100%;
    background-color: #F8F8F8;
    overflow: auto;
  }
  .menu-overlay {
    display: none;
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 49;
  }
}

.project-image {
  max-width: 100%;
}
.portfolio-sphere-container {
  width: 60px;
}
.portfolio-sphere {
  max-width: 60px;
}
@media only screen and (max-width: 575px) {
  .portfolio-sphere {
    max-width: 50px;
  }
  .portfolio-sphere-container {
    width: 50px;
  }
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 10px !important;
  overflow: hidden;
  font-size: .75rem;
  background-color: white !important;
  border-radius: 1px !important;
  border: 0.5px solid #979797;
}
.soft-skill-border {
  border-radius: 5px !important;
  border: 1px solid #979797;
  max-width: 135px;
  min-width: 125px;
}

#about-us {
  background-color: white;
  padding: 60px 0;
  }
  
  #about-us h2 {
  margin-top: 0;
  color: #333;
  }
  
  #about-us .lead {
  font-size: 16px;
  margin-bottom: 10px;
  }
  
  #about-us h1 {
  margin-bottom: 30px;
  }
  
  .progress-title{
      font-size: 16px;
      font-weight: 700;
      color: #000;
      margin: 0 0 10px 0;
  }
  
  .progress{
      height: 20px;
      line-height: 15px;
      border-radius: 5px;
      background: #f0f0f0;
      box-shadow: none;
      overflow: visible;
  }
  
  .progress-bar{
      position: relative;
      border-radius: 0;
      opacity: 0;
  }
  
  .progress .progress-value{
      display: block;
      font-size: 13px;
      color: #fff;
      position: absolute;
      top: 0;
      right: 8px;
  }
  
  @-webkit-keyframes animate-positive{
      0% { width: 0%; }
  }
  @keyframes animate-positive{
      0% { width: 0%; }
  }

  .home-image {
    position: relative;
    bottom: 40px;
  }
  .drawn-image-container{
    max-width: 100%;
  }
  .drawn-image-container img{
    max-width: 100%;
  }
  .lock-scroll {
    overflow: hidden;
  }
@media only screen and (max-width: 768px) {
  .home-image-container {
    bottom: 80px;
    position: relative;
    overflow: hidden;
  }
}
@media only screen and (max-width: 576px) {
  .home-image-container {
    bottom: 30px;
    position: relative;
    overflow: hidden;	  
  }
}

/* Linear movement */
@keyframes x-axis {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(50px, 0);
  }
}
  .adobe-float-container img {
    width: 60px
  }
  .adobe-float-container {
    height: 40px;
    width: 40px;
    animation: x-axis 5s linear infinite alternate;
    border-radius: 100%;
    position: absolute;
    top: 22%;
    left: 75%;
  }
  @keyframes y-axis {
    0%, 100% {
      transform: translate(0, 0);
    }
    
    50% {
      transform: translate(0, 150px);
    }
  }
    .sketch-float-container img {
      width: 60px
    }
    .sketch-float-container {
      height: 40px;
      width: 40px;
      animation: y-axis 8s linear infinite alternate;
      border-radius: 100%;
      position: absolute;
      top: 45%;
      left: 30%;
    }
  

/* Circular movement */
@keyframes rot-lg {
	from {
		transform: rotate(0deg)
		           translate(-150px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-150px) 
		           rotate(-360deg);
	}
}
.css-float-container img {
  width: 60px;
}
.css-float-container {
  z-index: -10;
	width: 80px;
	height: 80px;
	position: absolute;
	top: 42%;
	left: 60%;
	margin: -20px;
	animation: rot-lg 22s infinite linear;
}
@keyframes rot-sm {
	from {
		transform: rotate(0deg)
		           translate(-40px)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(-40px) 
		           rotate(360deg);
	}
}
.html-float-container img {
  width: 60px;
}
.html-float-container {
  z-index: 10;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 70%;
	left: 50%;
	margin: -20px;
	animation: rot-sm 10s infinite linear;
}

